@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@300&display=swap');

 
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:'Commissioner', sans-serif;
    font-size: 1rem;

}

#main {

    display: flex;
    width: 100vw;
    flex-direction: column;
    align-items: center;
    background-color: rgb(243, 243, 243);
    background-image: url(./images/image-hero-desktop.jpg);
    background-repeat: no-repeat;

}
h1 {
    
    font-size: 1.6rem;
    text-align: center;
    margin: 2.5rem 1rem auto;
}


#nav-desktop {
    position: absolute;
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem 5rem;
    width: 80%;
    z-index:1;

}


#nav-mobile {
    display: none;
}

.mobile__ham {
    display: none;
   
}
.xIcon {
    display: none;
}

.navbar__mobile {
    display: none;
}

.navbar__desktop {
    display: flex;
   
}
.navbar__desktop li {
    list-style: none;
}
.navbar__desktop li a {
    margin-left: 20px;
    text-decoration: none;
    color: #fff;
}

.container {
    position: relative;
    margin: 2rem auto;
    height: 100%;
    width: 64vw;
    /*background-color: #fff;*/
    display: grid;
    align-items: center;
    /*flex-direction: column;*/
    margin-top: 15rem;
    /*z-index: 0;*/
    grid-template-rows: 1fr;
}

.wrapper__one {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #fff;
    margin-bottom: 25px;
    border-radius: 5px;
   }

.icon__mastercraft {
   
    width:min-content; 
    margin: 0 auto;
    margin-top: -30px;
}

.wrapper__back__bookmark {
    display:flex;
    justify-content: space-between;
    margin: 1.7rem 2rem;
    height: 3.6rem;
}

.div__back {
    display: flex;
    align-items: center;
    padding: 1rem 2rem;
     border: 1px solid transparent;
    background-color: hsl(176, 50%, 47%);
    border-radius: 30px;
}
.div__back:hover {
    background-color: hsl(176, 72%, 28%);
    cursor: pointer;
}

.div__bookmark {
    padding: 0 1rem 0 0;
    display: flex;
   /*align-items: center;*/
    border: 1px solid transparent;
    justify-content: space-between;
    background-color: lightgray;
    border-radius: 30px;
    cursor: pointer;
}
.div__bookmarked {
    background-color: rgb(217 236 226);

}


.icon__bookmark {
    align-self: center;
}
.bookmark__p {
    margin-top:16px;
}

.bookmarked__p {
    color:  hsl(176, 72%, 28%);

}

.icon__bookmarked circle {
   
    fill:hsl(176, 72%, 28%);
   
}

.p__back {
    color:#fff;
    margin: 16px;
}

.title__p {
    font-size: 1rem;
    color: rgb(171, 171, 171);
    margin: 1rem auto;
}
.wrapper__two {
    /*top:18rem;
   /* position: absolute;*/
   display: flex;   
    width: 100%;
    background-color: #fff;
    margin-bottom: 25px;
    border-radius: 5px;
   }
.wrapper__stats {
    display: grid;
    margin: 0 auto;
    padding: 20px 0px;
    grid-template-columns: 1fr 1fr 1fr;

   }
.wrapper__stats__one {
    display:flex;
    flex-direction: column;
    justify-content: center;
     padding: 1rem 2rem;
    border-right: 1px solid rgb(177, 177, 177);
    width:10vw;
   }
   
.wrapper__stats__two {
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem 2rem;
    width:10vw;
    border-right: 1px solid rgb(177, 177, 177);
       
   }

.wrapper__stats__three {
    padding: 1rem 2rem;
    display:flex;
    flex-direction: column;
    justify-content: center;
    width:10vw;   
   }

.stats__number {
    font-size: 1.6rem; 
    font-weight: 700;
    margin: 0;
   }

.stats__title {
    font-size: 0.7rem; 
    color: rgb(177, 177, 177); 
    }

.progress__bar {
    height: 8px;
    border: 1px solid transparent;
    width: 100%;
    grid-column: 1 / 4;
    border-radius: 5px;
    background-color: lightgray;
  
    }

.bar {
    height: 9px;
    width: 80%;
    background-color: hsl(176, 50%, 47%);
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    overflow: hidden;
    }
.wrapper__three {
        /*top:30rem;
         position: absolute;*/
     background-color: #fff;
     border-radius: 5px;
    }

.div__about {
    padding: 0 25px;
    }

.div {
    padding: 25px;
    }
.div__one {
    padding: 25px;
    border: 1px solid rgb(187, 187, 187);
    margin:25px 0;
    border-radius: 6px;
    }

.div__two {
    padding: 25px;
    border: 1px solid rgb(187, 187, 187);
    margin:25px 0;
    border-radius: 6px;
    }

    .div__three {
        padding: 25px;
        border: 1px solid rgb(187, 187, 187);
        margin:25px 0 0;
        border-radius: 6px;
    }

    .div__wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .bambo__a {
        text-decoration: none;

    }
    .black__a {
        text-decoration: none;
    }

    .div__number__wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .div__number {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }
    .div__number h2 {
        margin-right: 10px;
    }
    .div__number p {
        color: rgb(177, 177, 177);
    }
    .div__number__wrapper span {
        padding: 15px 20px;
        border: 1px solid transparent;
       background-color: hsl(176, 50%, 47%);
       border-radius: 30px;
       color:#fff;
    }
   .div__one .div__wrapper span {
        color: hsl(176, 50%, 47%);

    }
      .div__number__wrapper span:hover {
        background-color: hsl(176, 42%, 27%);
        cursor: pointer;
    }

     .div__number__wrapper span:hover {
        background-color: hsl(176, 72%, 28%);
        cursor: pointer;
    }
     .div__number__wrapper span:hover {
        background-color: hsl(176, 72%, 28%);
        cursor: pointer;
    }

    .div__two .div__wrapper span {
        color: hsl(176, 50%, 47%);

    }
    .div__three .div__wrapper span {
        color: hsl(176, 50%, 47%);

    }
    .div__three {
        color: rgb(221, 221, 221)
    }
     .div__three h3{
        font-weight: 700;
        color: rgb(163, 155, 155);
    }
    .div__three .div__number__wrapper span {
        background-color: rgb(177, 177, 177);
        color: #fff;
    }

/*MODAL */

    @keyframes animation {
          from {
              top:-100px;
              opacity: 0;}
            to {top: 0px;
                opacity :1;
            }
    }

    #modal {
        display: none;
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0rem;
        left:0;
        right:0;
        z-index: 1;
        /*filter: brightness(60%);*/
        opacity: 1;
       
        align-items: center;
        flex-direction: column;
        /*background-color: #fff;*/

    }

    .div__modal  {
        font-size: 1rem;
        padding: 25px;
        position:absolute;
        /*top: 0rem;
        left:0;
        right:0;*/
        margin: 10% auto;
        height: max-content;
        width: 58vw;
        /*background-color: #fff;*/
        display: none;
        align-items: center;
        /*flex-direction: column;*/
        /*margin-top: 15rem;*/
        grid-template-rows: 1fr;
        background-color: #fff;
        animation-name: animation;
        animation-duration: 0.8s;
         grid-gap:1rem;
         z-index:2;
    }

    
     .image__close {
         position: absolute;
         top:10px;
         right:10px;
         cursor: pointer;
     }
    /*
      .div__modal {
        display: none;
        padding: 25px;
    }
*/
    .modal__start {
        
        padding: 20px;
        border: 1px solid rgb(177, 177, 177);
        border-radius: 6px;
    }

    .modal__start label {
        font-weight: 700;
    }
     .modal__start label:hover {
         color: rgb(48, 172, 110);
         cursor: pointer;
     }

    .modal__bambo {
       
        padding: 20px;
        border: 1px solid rgb(177, 177, 177);
        border-radius: 6px;
    }
    #form__pledge__bambo {
        display: flex;
        justify-content: space-around;
    }

    #pledge-bambo {
        position: relative;
        width: 10vw;
        height: 4vh;
        text-align: center;
        outline: none;
        border: 1px solid rgb(177, 177, 177);
        border-radius: 30px;
        font-size: 0.9rem;
        font-weight: 700;
    }
    /*#pledge-bambo i {
       position: absolute;
*/
    
     .fa-dollar-sign {
        padding: 8px;
         position: absolute;
        z-index: 5;
        font-size: 0.8rem;

     }

    #continue__bambo {
        border:1px solid transparent;
        background-color: hsl(176, 50%, 47%);
        padding: 0 20px;
        cursor: pointer;
        color: #fff;
        border-radius: 30px;
        outline: none;
        font-size: 0.8rem;
    }

    #continue__black__edition {
        border:1px solid transparent;
        background-color: hsl(176, 50%, 47%);
        padding: 0 20px;
        cursor: pointer;
        color: #fff;
        border-radius: 30px;
        outline: none;
        font-size: 0.8rem;
    }

    #form__black__edition {
        display: flex;
        justify-content: space-around;
    }

    #pledge-black__edition {
        position: relative;
        width: 10vw;
        height: 4vh;
        text-align: center;
        outline: none;
        border: 1px solid rgb(177, 177, 177);
        border-radius: 30px;
        font-size: 0.9rem;
        font-weight: 700;
    }

    .div__input label {
        color:rgb(48, 172, 110);
        cursor: pointer;
        
    }
    .div__input label span {
        color:#000;
    }
    
    .modal-title {
        font-weight: 700;
        
    }
     .modal-title:hover {
        color:rgb(48, 172, 110);
        cursor: pointer; 
     }
    .modal__bambo__wrapper {
        display:flex;
        justify-content: space-between;
    }

    .modal__black__edition {
        padding: 20px;
        border: 1px solid rgb(177, 177, 177);
        border-radius: 6px;
    }
    .modal__black__wrapper {
        display:flex;
        justify-content: space-between;
    }

    .modal__mahogany {
        padding: 20px;
        border: 1px solid rgb(177, 177, 177);
        border-radius: 6px;
    }
    .modal__mahogany label {
         color:rgb(48, 172, 110);
        
    }

    
    .pledge__bambo {
        display:none;

    }
    .pledge-black__edition {
        display:none;

    }
    .card-success {
        top:15rem;
        left: 0; 
        right: 0;
        position: absolute;
        margin:0 auto;
        display: none;
        width: 40vw;
        justify-content: center;
        background-color: #fff;
        padding: 20px;
        align-items: center;
        flex-direction: column;
        text-align: center;
        border-radius: 10px;
    }

    .btn-got__it {
        padding: 15px 30px;
        border: 1px solid transparent;
       background-color: hsl(176, 72%, 28%);
       border-radius: 30px;
       color:#fff;
       cursor: pointer;

}
 
    
    
